Repository gabe565/GoNES: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, usage-docs, config-example

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-mod-tidy-repo
      - id: golangci-lint-mod
        args: [--fix]
      - id: go-test-mod

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npm --prefix web run lint
        language: system
        files: ^web
        pass_filenames: false
      - id: usage-docs
        name: usage-docs
        entry: go run ./internal/generate/docs
        language: system
        types: [go]
        pass_filenames: false
      - id: config-example
        name: config-example
        entry: go run ./internal/config/generate_example
        language: system
        types: [go]
        pass_filenames: false

perf(web): Change CSS compiler from sass to sass-embedded
  web/package-lock.json
  web/package.json
Due: eslint

chore(database): Update NoIntro database
  internal/database/database.csv
Due: none

chore(cartridge): Change `PRG` to public visibility and keep INES header in memory
  cmd/gones/console.go
  cmd/gones/console_js.go
  cmd/nesutil/ls/cmd.go
  cmd/nesutil/ls/entry.go
  internal/cartridge/cartridge.go
  internal/cartridge/ines.go
  internal/cartridge/ines_test.go
  internal/cartridge/mapper.go
  internal/cartridge/mapper_1.go
  internal/cartridge/mapper_2.go
  internal/cartridge/mapper_3.go
  internal/cartridge/mapper_4.go
  internal/cartridge/mapper_69.go
  internal/cartridge/mapper_7.go
  internal/cartridge/mapper_71.go
  test/helpers.go
Due: usage-docs, config-example

chore(nesutil): Change `must` to use utils dependency
  cmd/nesutil/ines/create/cmd.go
  cmd/nesutil/ines/extract/cmd.go
  cmd/nesutil/ls/cmd.go
  go.mod
  go.sum
  internal/util/must.go
Due: usage-docs, config-example

feat(nesutil): Add support for extracting ROM header
  cmd/nesutil/ines/create/cmd.go
  cmd/nesutil/ines/extract/cmd.go
  docs/nesutil_ines_create.md
  docs/nesutil_ines_extract.md
  internal/cartridge/cartridge.go
  internal/cartridge/ines.go
  internal/cartridge/ines_test.go
Due: usage-docs, config-example

feat(nesutil): Add subcommand to encode a PNG to CHR data
  cmd/nesutil/chr/cmd.go
  cmd/nesutil/chr/consts/flags.go
  cmd/nesutil/chr/decode/cmd.go
  cmd/nesutil/chr/encode/cmd.go
  cmd/nesutil/ines/extract/cmd.go
  docs/nesutil_chr.md
  docs/nesutil_chr_encode.md
  docs/nesutil_ines_extract.md
Due: usage-docs, config-example

feat(nesutil): Add subcommand to create a ROM file
  cmd/nesutil/ines/cmd.go
  cmd/nesutil/ines/create/cmd.go
  docs/nesutil.md
  docs/nesutil_ines.md
  docs/nesutil_ines_create.md
  docs/nesutil_ines_extract.md
  internal/cartridge/cartridge.go
  internal/cartridge/ines.go
  internal/cartridge/ines_test.go
Due: usage-docs, config-example

feat(nesutil): Add subcommand to split CHR and PRG from a ROM file
  cmd/nesutil/ines/cmd.go
  cmd/nesutil/ines/extract/cmd.go
  cmd/nesutil/root/cmd.go
  docs/nesutil.md
  docs/nesutil_ines.md
  docs/nesutil_ines_extract.md
Due: usage-docs, config-example

feat(nesutil): Add subcommand to decode CHR to a PNG
  cmd/nesutil/chr/cmd.go
  cmd/nesutil/chr/consts/flags.go
  cmd/nesutil/chr/decode/cmd.go
  cmd/nesutil/root/cmd.go
  docs/nesutil.md
  docs/nesutil_chr.md
  docs/nesutil_chr_decode.md
Due: usage-docs, config-example

feat(nesutil): Add subcommand to encode Game Genie codes
  cmd/nesutil/genie/cmd.go
  cmd/nesutil/genie/encode/cmd.go
  docs/nesutil_genie.md
  docs/nesutil_genie_encode.md
Due: usage-docs, config-example

test(nesutil): Add genie tests
  .golangci.yaml
  cmd/nesutil/genie/decode/cmd_test.go
  cmd/nesutil/genie/encode/cmd_test.go
Due: usage-docs, config-example

chore(nesutil): Improve multiple error formatting
  cmd/nesutil/main.go
Due: usage-docs, config-example

chore(nesutil): Change compare type to not be a pointer
  cmd/nesutil/genie/decode/cmd.go
  cmd/nesutil/genie/encode/cmd.go
Due: usage-docs, config-example

feat(nesutil): Add subcommand to decode Game Genie codes
  cmd/nesutil/genie/cmd.go
  cmd/nesutil/genie/decode/cmd.go
  cmd/nesutil/root/cmd.go
  docs/nesutil.md
  docs/nesutil_genie.md
  docs/nesutil_genie_decode.md
Due: usage-docs, config-example

chore(nesutil): Improve `ls` subcommand error handling
  cmd/nesutil/ls/cmd.go
Due: usage-docs, config-example

perf(apu): Optimize APU using a ring buffer
  internal/apu/apu.go
  internal/apu/ringbuffer.go
  internal/apu/ringbuffer_test.go
Due: usage-docs, config-example

perf: Optimize web version by tweaking wasm-opt flags
  .github/workflows/build.yml
  .taskfiles/web.yaml
Due: none

ci: Skip wasm-opt on PRs
  .github/workflows/build.yml
Due: none

feat(apu): Improve APU downsampling quality
  internal/apu/apu.go
Due: usage-docs, config-example

feat(apu): Add config for buffer size
  config_example.toml
  go.mod
  go.sum
  internal/apu/apu.go
  internal/config/bytes.go
  internal/config/config.go
  internal/config/default.go
  internal/config/load.go
  internal/consts/consts.go
Due: usage-docs, config-example

perf(apu): Decrease default buffer size to prevent audio lag
  config_example.toml
  internal/config/default.go
Due: usage-docs, config-example

ci: Install latest binaryen version to fix CI
  .github/renovate.json
  .github/workflows/build.yml
Due: none

ci: Compile arm64 binary without using Docker
  .github/workflows/build.yml
  hack/builder.Dockerfile
Due: none

chore(web): Update Tailwind configuration
  web/index.html
  web/package-lock.json
  web/package.json
  web/src/main.css
  web/src/main.scss
  web/vite.config.js
Due: eslint

chore(web): Update deprecated Tailwind classes
  web/src/components/SettingsMenu.vue
Due: eslint

ci: Add dependencies section to release changelog
  .github/changelog-generator.yaml
Due: none

ci: Exclude CI commits from release changelog
  .github/changelog-generator.yaml
Due: none

fix: Fix `wasm_exec.js` path
  main.go
Due: usage-docs, config-example

test(lint): Change `tenv` linter to `usetesting`
  .golangci.yaml
Due: none

chore(nesutil): Change `strings.Split` to `strings.SplitSeq`
  cmd/nesutil/main.go
Due: usage-docs, config-example

chore(deps): Add code generation tools to dependency list
  cmd/nesutil/ls/output.go
  go.mod
  go.sum
  internal/util/tools.go
Due: usage-docs, config-example

chore(deps): Add code generation tools to dependency list
  cmd/nesutil/ls/output.go
  go.mod
  go.sum
  internal/cartridge/mirror.go
  internal/controller/button/button.go
  internal/cpu/addressing_mode.go
  internal/cpu/instructionname.go
  internal/util/tools.go
Due: usage-docs, config-example

chore(deps): pin github actions digests [skip ci]
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/update-nointro-database.yaml
Due: none

chore(deps): update go dependencies
  go.mod
  go.sum
Due: none

chore(deps): update web dependencies
  web/package-lock.json
  web/package.json
Due: eslint

test(lint): update lint config to v2, add linters, fix warnings
  .golangci.yaml
  cmd/nesutil/chr/consts/flags.go
  cmd/nesutil/ls/cmd.go
  cmd/nesutil/ls/entry.go
  internal/apu/apu.go
  internal/config/config.go
  internal/config/flags.go
  internal/config/load.go
  internal/console/input.go
  internal/consts/consts.go
  internal/cpu/cpu.go
  internal/cpu/helpers.go
  internal/cpu/instructions.go
  internal/cpu/memory.go
  internal/cpu/trace.go
  internal/cpu/trace_test.go
  internal/database/generate/download/downloader.go
  test/blargg_apu_test.go
  test/blargg_cpu_test.go
  test/blargg_mmc3_test.go
  test/blargg_oam_test.go
  test/blargg_ppu_test.go
  test/nestest_test.go
Due: usage-docs, config-example

fix(cpu): fix undocumented opcodes SHX, SHY, TAS
  .gitmodules
  internal/cpu/instructions.go
  internal/cpu/shx_test.go
  internal/cpu/tas_test.go
Due: usage-docs, config-example

fix(cpu): fix status B flag during IRQ and NMI
  internal/cpu/cpu.go
  internal/cpu/status.go
  internal/cpu/status_test.go
Due: usage-docs, config-example

fix(cpu): add dummy read when page crossed
  internal/cpu/addressing_mode.go
  internal/cpu/dummy_read_test.go
Due: usage-docs, config-example

fix(cpu): add dummy reads for STA indexed addressing modes
  internal/cpu/cpu_test.go
  internal/cpu/dummy_read_test.go
  internal/cpu/instructions.go
Due: usage-docs, config-example
