Repository gabe565/GoNES: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, usage-docs, config-example

eslint:
  name: eslint
  entry: npm --prefix web run lint
  language: system
  pass_filenames: false

usage-docs:
  name: usage-docs
  entry: go run ./internal/generate/docs
  language: system
  pass_filenames: false

config-example:
  name: config-example
  entry: go run ./internal/config/generate_example
  language: system
  pass_filenames: false

fix(cpu): add dummy writes
  internal/cpu/dummy_write_test.go
  internal/cpu/instructions.go
Due: usage-docs, config-example

fix(bus): improve open bus behavior
  internal/bus/bus.go
Due: usage-docs, config-example

chore(bus): remove errors and always read/write open bus
  internal/bus/bus.go
Due: usage-docs, config-example

chore(bus): clean up cases
  internal/bus/bus.go
Due: usage-docs, config-example

chore(cartridge): remove mapper read/write error logs
  internal/cartridge/mapper_1.go
  internal/cartridge/mapper_2.go
  internal/cartridge/mapper_3.go
  internal/cartridge/mapper_4.go
  internal/cartridge/mapper_69.go
  internal/cartridge/mapper_7.go
  internal/cartridge/mapper_71.go
Due: usage-docs, config-example

fix(cartridge): disable bank switching for mapper 0
  internal/cartridge/mapper.go
  internal/cartridge/mapper_2.go
  internal/cpu/cpu_test.go
  internal/ppu/ppu_test.go
Due: usage-docs, config-example

fix(cpu): make RLA/RRA/SLO/SRE/ISB use the actual written value
  internal/cpu/instructions.go
Due: usage-docs, config-example

fix(cpu): rewrite ahx
  internal/cpu/instructions.go
Due: usage-docs, config-example

fix(ppu): palette reads return 6 bits; upper 2 bits are open bus
  internal/ppu/ppu.go
Due: usage-docs, config-example

fix(ppu): CHR ROM is now read-only
  internal/cartridge/cartridge.go
  internal/ppu/ppu.go
Due: usage-docs, config-example

chore(web): migrate package manager to pnpm
  .github/workflows/build.yml
  .taskfiles/web.yaml
  web/README.md
  web/package-lock.json
  web/package.json
  web/pnpm-lock.yaml
  web/pnpm-workspace.yaml
Due: eslint

chore(web): migrate package manager to pnpm (#438)
  .github/workflows/build.yml
  .taskfiles/web.yaml
  web/README.md
  web/package-lock.json
  web/package.json
  web/pnpm-lock.yaml
  web/pnpm-workspace.yaml
Due: eslint

test(lint): fix lint warnings
  .golangci.yaml
  internal/config/flags.go
Due: usage-docs, config-example

ci: cancel redundant jobs
  .github/workflows/build.yml
  .github/workflows/update-nointro-database.yaml
Due: none

ci: change to basic codeql configuration
  .github/workflows/codeql.yml
Due: none

chore(deps): migrate deprecated plausible dependency
  web/package.json
  web/pnpm-lock.yaml
  web/src/plugins/plausible.js
Due: eslint

test(lint): add modernize linter
  .golangci.yaml
  cmd/nesutil/ls/cmd.go
  internal/config/parser.go
Due: usage-docs, config-example

fix: update wasm-opt flags
  .github/workflows/build.yml
  .taskfiles/web.yaml
Due: none

ci: add minimal permissions
  .github/workflows/build.yml
  .github/workflows/update-nointro-database.yaml
Due: none

chore(deps): update serialize-javascript to v7.0.5
  web/pnpm-lock.yaml
  web/pnpm-workspace.yaml
Due: eslint

fix(apu): reset frame counter sequencer on $4017 write
  internal/apu/apu.go
Due: usage-docs, config-example

fix(apu): mute square channel when sweep target period overflows
  internal/apu/square.go
Due: usage-docs, config-example

test: add more blargg APU, CPU, and PPU test ROMs
  test/blargg_apu_test.go
  test/blargg_cpu_test.go
  test/blargg_ppu_test.go
Due: usage-docs, config-example

fix(apu): correct DMC period table off-by-one
  internal/apu/dmc.go
  test/blargg_apu_test.go
Due: usage-docs, config-example

fix(cpu): add dummy read for RMW absolute,X without page crossing
  internal/cpu/instructions.go
  test/blargg_cpu_test.go
Due: usage-docs, config-example

feat(cpu): migrate CPU step to an iterator
  internal/console/console.go
  internal/cpu/cpu.go
  internal/cpu/cpu_test.go
  internal/cpu/dummy_read_test.go
  internal/cpu/dummy_write_test.go
  internal/cpu/shx_test.go
  internal/cpu/status_test.go
  internal/cpu/tas_test.go
  internal/cpu/trace_test.go
Due: usage-docs, config-example

feat(cpu): improve CPU cycle accuracy
  internal/apu/apu.go
  internal/apu/dmc.go
  internal/cpu/addressing_mode.go
  internal/cpu/cpu.go
  internal/cpu/helpers.go
  internal/cpu/instructions.go
  internal/cpu/memory.go
  internal/cpu/trace.go
Due: usage-docs, config-example

fix(ppu): update timing after CPU cycle changes
  internal/ppu/ppu.go
  test/blargg_cpu_test.go
Due: usage-docs, config-example

fix(apu): update timings after CPU cycle changes
  internal/apu/apu.go
  test/blargg_apu_test.go
  test/blargg_cpu_test.go
Due: usage-docs, config-example

fix: improve mmc3 timing
  internal/console/console.go
  internal/ppu/ppu.go
Due: usage-docs, config-example

refactor(database): source database from libretro
  .github/workflows/update-nointro-database.yaml
  .taskfiles/nointro.yaml
  README.md
  go.mod
  go.sum
  internal/database/generate/download/downloader.go
  internal/database/generate/download/main.go
  internal/database/generate/main.go
  internal/database/generate/to_csv/main.go
  internal/database/nointro/.gitignore
  internal/database/nointro/datafile.go
  internal/database/nointro/nes.go
  internal/database/nointro/nointro.go
  internal/database/rdb/rdb.go
  internal/database/rdb/rdb_test.go
Due: usage-docs, config-example

feat(database): add compact database format
  internal/database/compact/compact.go
  internal/database/compact/compact_test.go
  internal/database/compact/nth_test.go
Due: usage-docs, config-example

perf(database): shrink the embedded database
  internal/database/.gitignore
  internal/database/database.go
  internal/database/database_csv.go
  internal/database/database_gzip.go
  internal/database/generate/main.go
  main.go
Due: usage-docs, config-example

chore: regenerate stringers
  internal/cartridge/mirror_string.go
  internal/controller/button/button_string.go
  internal/cpu/addressingmode_string.go
  internal/cpu/instructionname_string.go
Due: usage-docs, config-example

chore: regenerate database
  internal/database/database.csv
Due: none

Path conditions:
  eslint: any of: ^web
  usage-docs: any of: \.go$
  config-example: any of: \.go$
